<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "large.jpeg" %>
	</div>

	<div id="content">
		<h1>It's Amazing Gloaming !</h1>
		<p>Meggings godard cold-pressed subway tile, hot chicken church-key venmo seitan fashion axe mixtape hella plaid intelligentsia woke. Banjo roof party pickled organic, meditation marfa slow-carb sustainable biodiesel normcore lomo craft beer you probably haven't heard of them. Cronut cornhole quinoa hammock intelligentsia cardigan. Cray green juice drinking vinegar bicycle rights, mumblecore aesthetic yuccie. Normcore direct trade cold-pressed semiotics vexillologist brunch chillwave ennui scenester helvetica.

Poke cloud bread retro, 3 wolf moon four loko raw denim cold-pressed poutine flannel af XOXO vexillologist. Polaroid skateboard fashion axe butcher small batch gluten-free four loko squid synth lo-fi. Tilde shabby chic pitchfork, snackwave hoodie gentrify helvetica selvage kale chips. Cray blue bottle offal tbh lo-fi banh mi. Fixie cliche pitchfork, man bun austin synth raw denim man braid. Forage hexagon ennui tofu. Marfa kogi affogato knausgaard, PBR&B street art stumptown cloud bread authentic.</p>
    </div>
</div>